{{!
Renders an "Invalid" badge with a "More info..." popover.
Requires {parse_error} (with underscore) in the template context.
}}

<span class="small" style="white-space: nowrap">
    <span class="badge text-bg-danger">
        Invalid <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
    </span>
    <a
        class="link-primary"
        tabindex="0"
        role="button"
        data-bs-placement="auto"
        data-bs-toggle="popover"
        data-bs-html="true"
        title="Format error"
        data-bs-content="{{parse_error}}"
    >
       More info…
    </a>
</span>
